<div style="background-color:#C38D9E">
<h1><center>Home</center></h1>
<h2>About College</h2>
<hr><p>Shri Jayantilal Hirachand Sanghvi Gujarati Innovative College Of Commerce and Science is a new branch of Shri Gujarati Samaj, a highly dedicated and renowned social organization of the city. Gujarati Samaj Education Society established S.J.H.S.I.C.C.S College in 2006, which is an important identity belonging to the Gujarati Samaj Indore.
SJHS Gujarati Innovative College Of Commerce and Science is located in the prime location of Indore, near Bombay hospital with large campus.Established in 1951, P.M.B. Gujarati Commerce College is a premier institute located in Indore, Madhya Pradesh. The institute offers Degree and Diploma courses including UG and PG programs. These programs are offered in Full-Time mode. Candidate can pursue multiple ranges of courses like M.Com, B.Com, PG Diploma in the stream of Accounting & Commerce, Science. Over the period, P.M.B. Gujarati Commerce College has gained expertise through its trained and experienced faculty in the fields of Computer Science. P.M.B. Gujarati Commerce College offers courses distributed over 60 seats in total. The institute provides good facilities all around the campus, such as Auditorium, Cafeteria, Gym, Hospital / Medical Facilities, Hostel, Labs, Library, Sports Complex, etc.
Particulars	Statistics
Campus Location	Indore, Madhya Pradesh
Courses Offered	UG and PG
No. of Seats	60
Median Salary	
Fees Range.	
</p>
<hr>
<h2>What Is Event :-</h2>
<p>An event can be described as a public assembly for the purpose of celebration, education, marketing or reunion. Events can be classified on the basis of their size, type and context.
An event can be: Events like a birthday party, hen/stag party, graduation day, bachelor's party, engagement, wedding, anniversary, retirement day, funeral, etc. Education and career events
Events like education fair, job fair, workshop, seminar, debate, contest, competition etc.
Another critical factor in the success of an event is the creation of a unique and engaging experience for attendees. The event should be designed in a way that appeals to the target audience and creates a lasting impression. This can be achieved through various means such as the selection of the venue, entertainment, and activities, as well as the overall theme and atmosphere of the event. Event planning also involves careful consideration of the logistics and operations required to execute the event. This includes the selection of the appropriate venue, transportation, accommodations, and catering services. It also involves the management of risks and contingency planning to mitigate any potential issues or disruptions that may arise.
 </p>
<img src= "https://e7.pngegg.com/pngimages/511/100/png-clipart-illustration-crowd-illustration-businessman-flattening-element-photography-service.png" width="1300" height="200">
</div>