<div  style="background-color:#83677B">
<h2><center>SHRI K.B PATEL GUJARATI COLLEGE INDORE</center></h2>
<h2><center>COLLEGE-FEST</center></h2>
<center><%= link_to 'Home' ,  for_homes_index_path, style: 'color:black;' %></center><br>
<center>Student Registration</center><br>
<i><h3>EVENTS :--</h3></i>
<p><b>An event can be defined as a planned or unplanned occurrence, situation, or incident that has significance or meaning. It can range from small personal events such as a birthday party to large-scale global events such as the Olympic Games or a natural disaster. The planning and execution of an event involve a wide range of activities such as budgeting, marketing, logistics, and coordination. Depending on the size and complexity of the event, it may require a team of professionals with specialized skills and expertise to ensure its success. One of the key elements of a successful event is effective communication. Clear communication is essential throughout the planning and execution stages to ensure that all stakeholders are informed and aligned with the goals and objectives of the event. This includes communication with suppliers, vendors, sponsors, attendees, and other stakeholders.
</b></p>
<img src="https://st3.depositphotos.com/1037987/14046/i/450/depositphotos_140469690-stock-photo-friends-cheering-up-toast.jpg" width="300" height="250">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://www.planteriagroup.com/wp-content/uploads/2020/01/108_xNewsThumbResizex481.jpg" width="300" height="250">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://d12m9erqbesehq.cloudfront.net/wp-content/uploads/sites/2/2023/11/12193749/Types-of-social-events-wedding-celebrations.jpg" width="300" height="250">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://www.thebrewery.co.uk/wp-content/uploads/2023/10/154__Quickbooks_GetTogether2023-scaled.jpg"width="300" height="250">
<h2>UPCOMING EVENTS :--</h2>
</div>
